body{
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: aquamarine;
    font-size: 18px
}
h1, h2 {
    color: blue;
    text-align: center;
}
div{
    background-color: aliceblue;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
}
.info{
    color: white;
    background-color: black;
    display: inline
}
.warning {
    color: red;
    background-color: blueviolet;
    display: inline;
}
p:last-child{
    color: grey;
}